
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1></h1> *@

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Tenant Login
            </div>
            <div class="card-body">
                <form id="loginForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tenant UserName</label>
                        <input type="text" class="form-control" id="TenantUserName" aria-describedby="emailHelp" placeholder="Enter Tenant UserName">
                        @* <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> *@
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" id="Password" placeholder="Password">
                    </div>
                    @* <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> *@
                    <button type="submit" class="btn btn-sm btn-primary mt-1">Submit</button>
                </form>
            </div>
        </div>

        
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#loginForm').on('submit', function (event) {

                event.preventDefault(); // Prevent the default form submission
                makeLogin();
            });

            function makeLogin() {

                var tenantUserName = $('#TenantUserName').val();
                var password = $('#Password').val();

                let obj = {
                    TenantUserName: tenantUserName,
                    Password: password
                }

                ajaxCrud('POST', '/api/token/tenantlogin', obj, function (response) {
                    //console.log('Products retrieved successfully:', response);
                    debugger;
                    console.log('Login successful:', response);
                    //alert('Login successful! Token: ' + response.token);
                    window.location.href = '/Home/Index';
                    // Additional success handling
                }, function (xhr, status, error) {
                    console.error('Error retrieving products:', error);
                    // Additional error handling
                    alert('Login failed: ' + xhr.responseText);
                });
            }
        });
    </script>
}

