@* @model IEnumerable<WebApplication1.Models.Tenants> *@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Index</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Products
            </div>
            <div class="card-body table-responsive">
                <table id="productsTable">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Category ID</th>
                            <th>Seller ID</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script>
        $(document).ready(function () {
            $('#productsTable').DataTable({
                responsive: true,
                serverSide: true,
                processing: true,
                ajax: {
                    url: '/api/v1/products',
                    type: 'GET',
                    data: function (d) {
                        // Map DataTable parameters to API parameters
                        return {
                            pageNumber: Math.ceil(d.start / d.length) + 1,
                            pageSize: d.length
                        };
                    },
                    dataSrc: function (response) {
                        // Format the response to match DataTables' expectations
                        return response.data;
                    }
                },
                columns: [
                    { data: 'productID' },
                    { data: 'productName' },
                    { data: 'description' },
                    { data: 'price' },
                    { data: 'quantity' },
                    { data: 'categoryID' },
                    { data: 'sellerID' }
                ],
                pageLength: 10 // Number of records per page
            });
        });
    </script>
        
}

